table{
  width: 1200px;
}
th{
  background: white;
  position: sticky;
  top: 0;
  z-index: 1;
}
td{
  width: auto;
}
.container{
  width: 1400px;
  height: 600px;
  padding-top: 0px;
  max-height: 600px;
  max-height: 70vh;
  overflow-y: auto;
}

btn-group me-2{
  z-index: 0;
}
