<div class="tela">
  <div class="container">
    <div class="container-table" *ngIf="suppliers; else spinner">
      <table class="table table table-striped">
        <thead>
            <tr>
            <th scope="col">ID</th>
            <th scope="col">Nome</th>
            <th scope="col">Email</th>
            <th scope="col">Commentário</th>
            <th scope="col">Cnpj</th>
            <th scope="col">Ações</th>
          </tr>
        </thead>
        <tbody class="table-group-divider">
          <tr class="align-middle" *ngFor="let supplier of suppliers">
            <td>{{supplier.id}}</td>
            <td>{{supplier.name}}</td>
            <td>{{supplier.email}}</td>
            <td>{{supplier.comment}}</td>
            <td>{{supplier.cnpj}}</td>
            <td>
              <div
                class="btn-group me-2"
                role="group"
                aria-label="Second group"
              >
                <button type="button" class="btn btn-secondary bi bi-pencil-fill">Alterar</button>
                <button type="button" class="btn btn-danger bi bi-trash3-fill">Excluir</button>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="buttons" *ngIf="suppliers; else spinner">
    <button type="button" class="btn btn-success" (click)="openSupplierForm()">Incluir</button>
  </div>
  <ng-template #spinner>
    <div class="spinner-border text-secondary" role="status">
      <span class="visually-hidden">Loading...</span>
    </div>
  </ng-template>
</div>
