<div class="tela">
  <div class="container">
    <div class="container-table">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">ID</th>
            <th scope="col">Nome</th>
            <th scope="col">Email</th>
            <th scope="col">Commentário</th>
            <th scope="col">Cnpj</th>
            <th scope="col">Ações</th>
          </tr>
        </thead>
        <tbody class="table-group-divider">
          <tr class="align-middle">
            <th scope="row">1</th>
            <td>Mark</td>
            <td>Otto</td>
            <td>mdo</td>
            <td>test</td>
            <td>
              <div
                class="btn-group me-2"
                role="group"
                aria-label="Second group"
              >
                <button type="button" class="btn btn-secondary bi bi-pencil-fill">Alterar</button>
                <button type="button" class="btn btn-danger bi bi-trash3-fill">Excluir</button>
              </div>
            </td>
            <tr class="align-middle">
              <th scope="row">1</th>
              <td>Mark</td>
              <td>Otto</td>
              <td>mdo</td>
              <td>test</td>
              <td>
                <div
                  class="btn-group me-2"
                  role="group"
                  aria-label="Second group"
                >
                  <button type="button" class="btn btn-secondary bi bi-pencil-fill">Alterar</button>
                  <button type="button" class="btn btn-danger bi bi-trash3-fill">Excluir</button>
                </div>
              </td>
              <tr class="align-middle">
                <th scope="row">1</th>
                <td>Mark</td>
                <td>Otto</td>
                <td>mdo</td>
                <td>test</td>
                <td>
                  <div
                    class="btn-group me-2"
                    role="group"
                    aria-label="Second group"
                  >
                    <button type="button" class="btn btn-secondary bi bi-pencil-fill">Alterar</button>
                    <button type="button" class="btn btn-danger bi bi-trash3-fill">Excluir</button>
                  </div>
                </td>
                <tr class="align-middle">
                  <th scope="row">1</th>
                  <td>Mark</td>
                  <td>Otto</td>
                  <td>mdo</td>
                  <td>test</td>
                  <td>
                    <div
                      class="btn-group me-2"
                      role="group"
                      aria-label="Second group"
                    >
                      <button type="button" class="btn btn-secondary bi bi-pencil-fill">Alterar</button>
                      <button type="button" class="btn btn-danger bi bi-trash3-fill">Excluir</button>
                    </div>
                  </td>
                  <tr class="align-middle">
                    <th scope="row">1</th>
                    <td>Mark</td>
                    <td>Otto</td>
                    <td>mdo</td>
                    <td>test</td>
                    <td>
                      <div
                        class="btn-group me-2"
                        role="group"
                        aria-label="Second group"
                      >
                        <button type="button" class="btn btn-secondary bi bi-pencil-fill">Alterar</button>
                        <button type="button" class="btn btn-danger bi bi-trash3-fill">Excluir</button>
                      </div>
                    </td>
                    <tr class="align-middle">
                      <th scope="row">1</th>
                      <td>Mark</td>
                      <td>Otto</td>
                      <td>mdo</td>
                      <td>test</td>
                      <td>
                        <div
                          class="btn-group me-2"
                          role="group"
                          aria-label="Second group"
                        >
                          <button type="button" class="btn btn-secondary bi bi-pencil-fill">Alterar</button>
                          <button type="button" class="btn btn-danger bi bi-trash3-fill">Excluir</button>
                        </div>
                      </td>
                      <tr class="align-middle">
                        <th scope="row">1</th>
                        <td>Mark</td>
                        <td>Otto</td>
                        <td>mdo</td>
                        <td>test</td>
                        <td>
                          <div
                            class="btn-group me-2"
                            role="group"
                            aria-label="Second group"
                          >
                            <button type="button" class="btn btn-secondary bi bi-pencil-fill">Alterar</button>
                            <button type="button" class="btn btn-danger bi bi-trash3-fill">Excluir</button>
                          </div>
                        </td>
                        <tr class="align-middle">
                          <th scope="row">1</th>
                          <td>Mark</td>
                          <td>Otto</td>
                          <td>mdo</td>
                          <td>test</td>
                          <td>
                            <div
                              class="btn-group me-2"
                              role="group"
                              aria-label="Second group"
                            >
                              <button type="button" class="btn btn-secondary bi bi-pencil-fill">Alterar</button>
                              <button type="button" class="btn btn-danger bi bi-trash3-fill">Excluir</button>
                            </div>
                          </td>
                          <tr class="align-middle">
                            <th scope="row">1</th>
                            <td>Mark</td>
                            <td>Otto</td>
                            <td>mdo</td>
                            <td>test</td>
                            <td>
                              <div
                                class="btn-group me-2"
                                role="group"
                                aria-label="Second group"
                              >
                                <button type="button" class="btn btn-secondary bi bi-pencil-fill">Alterar</button>
                                <button type="button" class="btn btn-danger bi bi-trash3-fill">Excluir</button>
                              </div>
                            </td>
                            <tr class="align-middle">
                              <th scope="row">1</th>
                              <td>Mark</td>
                              <td>Otto</td>
                              <td>mdo</td>
                              <td>test</td>
                              <td>
                                <div
                                  class="btn-group me-2"
                                  role="group"
                                  aria-label="Second group"
                                >
                                  <button type="button" class="btn btn-secondary bi bi-pencil-fill">Alterar</button>
                                  <button type="button" class="btn btn-danger bi bi-trash3-fill">Excluir</button>
                                </div>
                              </td>
                              <tr class="align-middle">
                                <th scope="row">1</th>
                                <td>Mark</td>
                                <td>Otto</td>
                                <td>mdo</td>
                                <td>test</td>
                                <td>
                                  <div
                                    class="btn-group me-2"
                                    role="group"
                                    aria-label="Second group"
                                  >
                                    <button type="button" class="btn btn-secondary bi bi-pencil-fill">Alterar</button>
                                    <button type="button" class="btn btn-danger bi bi-trash3-fill">Excluir</button>
                                  </div>
                                </td>
                                <tr class="align-middle">
                                  <th scope="row">1</th>
                                  <td>Mark</td>
                                  <td>Otto</td>
                                  <td>mdo</td>
                                  <td>test</td>
                                  <td>
                                    <div
                                      class="btn-group me-2"
                                      role="group"
                                      aria-label="Second group"
                                    >
                                      <button type="button" class="btn btn-secondary bi bi-pencil-fill">Alterar</button>
                                      <button type="button" class="btn btn-danger bi bi-trash3-fill">Excluir</button>
                                    </div>
                                  </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="buttons">
    <button type="button" class="btn btn-success">Incluir</button>
  </div>
</div>
